<div class="cocktail-picture" style="background-image: url('https://images.unsplash.com/photo-1509669803555-fd5edd8d5a41?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=453ba52ad7b512705656a61f78bd11ad&auto=format&fit=crop&w=1950&q=80)')"></div>

<div class="container cocktail-container">
  <h1>Add your cocktail here</h1>
  <%= render 'form', cocktail: @cocktail %>
</div>
