<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag "logo.png", alt: "Le Wagon" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">
    <%= link_to 'Add a cocktail', new_cocktail_path, class: 'btn btn-success' %>
  </div>

</div>
